
.transboxc {
    position: absolute;
    z-index: 1000;
    width: 35%;
    height: 30%;
    background: rgba(255, 255, 255, 0.658);
    padding-top: 30px;
    bottom: 30%;
} 
  

 h1{
    color: #23a5de;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}


.carousel-fade, .carousel-item.active {
    z-index: 1;
    opacity: 1;
}

.tbox{
    font-size: 18px;
    font-family: var(--font-content), sans-serif;
}